.footer {
  .top-line {
    position: relative;

    @include media-breakpoint-up(md) {

      box-shadow: 0 $h4-font-size 35px rgba(1, 1, 1, 0.1);
      background-color: rgba($color: #141618, $alpha: .71);
    }

    background-color: transparent;

    padding-top: rem(58);
    padding-bottom: rem(58);
  }


  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}


  // 
  @include media-breakpoint-between(md, xl) {}


  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}


  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {}
}