mixin s-about()
	// start s-about
	+b.SECTION.s-about.section.section-b-top.text-white#s-about&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Студия дизайна интерьеров tinDesign
				p Разрабатывает дизайн проекты квартир, домов, коттеджей и&nbsp;коммерческих помещений в&nbsp;современном и&nbsp;классическом стиле с&nbsp;2010&nbsp;года.
			.section-content
				img.res-i(src="img/@2x/s-about-img.png", alt="")
				blockquote &quot; Жилище&nbsp;&mdash; это настроение&quot;,&nbsp;&mdash; сказал Робер де&nbsp;Монтескье, французский мыслитель.

				p Руководствуясь индивидуальным подходом к&nbsp;каждому клиенту, мы&nbsp;создаем комфортные, стильные интерьеры, которые отражают предпочтения и&nbsp;образ жизни заказчика. В&nbsp;самом начале работы над дизайном проекта нам важно выяснить вкусы заказчика и&nbsp;членов его семьи, а&nbsp;также условия, при которых они чувствуют себя дома особенно удобно и&nbsp;непринужденно.
				+e.btn.link-modal(href="#modal-call") Заказать звонок
	// end s-about