
mixin modal() 
  
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			+b.section-title.text-center
				.h2.ttu Заказать ДИЗАЙН ПРОЕКТ 
				p Оставьте номер Вашего телефона и&nbsp;наш специалист перезвонит в&nbsp;ближайшее время.

			+input("Ваше имя")
				+icon('user')
			+input("Ваш телеофон",'tel')
				+icon('tel')
			+input("Текст сообщения",'textarea')
			+e.INPUT.btn(type="submit" value="Заказать проект") 
 
		// #modal-call
	// modal