mixin s-package-services()
	// start s-package-services
	+b.SECTION.s-package-services.section#s-package-services&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Пакет услуг
			.section-content
				img.res-i(src="img/@2x/main-services.png", alt="")
				p Работа над любым дизайн&nbsp;&mdash; проектом начинается с&nbsp;обмера помещения <br>и&nbsp;заканчивается сопровождением его реализации (Авторский надзор).
				p Но&nbsp;у&nbsp;каждого заказчика есть свои потребности и&nbsp;возможности. Поэтому, необходимость в&nbsp;участия дизайнера на&nbsp;всех этапах работы по&nbsp;дизайн проекту не&nbsp;всегда целесообразна.
				p Для Вашего удобства мы&nbsp;разработали четыре универсальных пакета услуг: &laquo;Планировочный&raquo;, &laquo;Эскизный&raquo;, &laquo;Базовый&raquo;, &laquo;Стандарт&raquo;. Стоимость дизайн проекта за&nbsp;квадратный метр зависит от&nbsp;выбранного Вами пакета. Предлагаем Вам ознакомиться с&nbsp;каждым из&nbsp;них и&nbsp;выбрать для себя наиболее удобный.
	// end s-package-services