mixin s-test()
	// start s-test
	+b.SECTION.s-test.section#s-test&attributes(attributes)
		.container
			 
			.section-content
				img.res-i(src="img/@2x/s-content-img.png", alt="")
				h2 Ремонт и строительство
				p Разработка и&nbsp;реализация дизайн проекта&nbsp;&mdash; сложный и&nbsp;трудоемкий процесс, включающий, в&nbsp;том числе, работу разных специалистов. Мы&nbsp;заинтересованы не&nbsp;только в&nbsp;создании удобного, стильного, многофункционального пространства, но&nbsp;и&nbsp;грамотной, качественной реализации наших идей. Поэтому, мы&nbsp;сотрудничаем с&nbsp;проверенными строительными компаниями, поставщиками отделочных материалов, мебели, осветительного и&nbsp;сантехнического оборудования, аксессуаров и&nbsp;текстиля.

				p По&nbsp;Вашему желанию, при необходимости, мы&nbsp;привлекаем к&nbsp;работе над проектом профессиональных подрядчиков на&nbsp;выполнение следующих инженерных проектов:
				ul
					li вентиляция и кондиционирование  
					li  согласование перепланировки 
					li умный дом
					li проект сигнализации
	// end s-test