mixin s-project()
	// start s-project
	+b.SECTION.s-project.section#s-project&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 РЕАЛИЗОВАННЫЕ ПРОЕКТЫ
				
			.row
				mixin item()
					+e.col.col-lg-4.col-sm-6
						+e.item.bg-wrap(href="#")
							+pic(`collages-1`,'bg')(class="picture-bg")

				+item
				+item
				+item
				+item
				+item
				+item
				+item
				+item
				+item

			.row
				+e.BUTTON.btn показать еще
	// end s-project