extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-diz/_s-diz.pug
include ../blocks/s-collages/_s-collages.pug
include ../blocks/s-apartment-planing/_s-apartment-planing.pug
include ../blocks/s-calc/_s-calc.pug


block variables
	- let  mainPage= null
block title
	- let  title= 'Планировочные решения'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+header-block-tindesign-kollaji(title)
	.bottom-border
		.container
			+breadcrumb('Главная', title)
	+s-collages-planig
	+s-apartment-planing.section-b-top
	+s-diz
	+s-calc
	+s-contact()
	+s-form()
	+footer()