mixin s-collages()
	// start s-collages
	+b.SECTION.s-collages.section#s-collages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 КОЛЛАЖИ — ВАЖНАЯ СОСТАВЛЯЮЩАЯ ДИЗАЙН ПРОЕКТА
			.description
				p Разработка коллажа&nbsp;&mdash; это промежуточный этап между идеей и&nbsp;её&nbsp;воплощением в&nbsp;интерьере. Они позволяют визуализировать образ интерьера, передать общую концепцию и&nbsp;характер проекта.
				p Разрабатывая дизайн-проект составляется два вида коллажей. Первый&nbsp;&mdash; это общий концепт-борд квартиры или дома, который дает информацию о&nbsp;интерьере в&nbsp;целом. С&nbsp;его помощью определяется образ, цветовая гамма и&nbsp;стиль интерьера.
				p Второй вид&nbsp;&mdash; стилистический коллаж по&nbsp;каждому помещению, передающий детализированную концептуальную идею. Он&nbsp;включает основные отделочные материалы, предметы мебели, осветительные приборы, текстиль, аксессуары и&nbsp;стилеобразующие элементы, которые будут использоваться в&nbsp;проекте.
				p Стилистические коллажи удобно использовать во&nbsp;время поездок по&nbsp;магазинам при подборе материалов и&nbsp;мебели. Они помогают максимально сосредоточиться на&nbsp;идее и&nbsp;не&nbsp;уходить от&nbsp;первоначальной задумки. Также стилистические коллажи служат основой для 3D&nbsp;визуализации интерьера.
				p Ниже представлены примеры оформления интерьерных коллажей.
			.row
				mixin item()
					+e.col.col-md-6
						+e.item.bg-wrap
							+pic(`collages-1`,'bg')(class="picture-bg")

				+item
				+item
				+item
				+item
				+item
				+item
				
				+e.BUTTON.btn показать еще
	// end s-collages

mixin s-collages-planig()
	// start s-collages
	+b.SECTION.s-collages.section.planresh#s-collages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 ПЛАНИРОВОЧНОЕ РЕШЕНИЕ — ОСНОВА ДИЗАЙН ПРОЕКТА
			.description
				p Работа над любым интерьером начинается с&nbsp;проработки эргономики пространства. У&nbsp;каждого из&nbsp;нас свои потребности, образ жизни, состав семьи и&nbsp;представления о&nbsp;комфорте. Удачное планировочное решение&nbsp;&mdash; это основа комфортного интерьера, без которого ни&nbsp;один ремонт не&nbsp;окажется идеальным. Среди дизайнеров бытует мнение, что хорошая планировка&nbsp;&mdash; это и&nbsp;есть дизайн.
				p Разработка планировочного решения&nbsp;&mdash; это начальный этап создания любого дизайнерского проекта, основа будущего объекта. Грамотное планирование нужно, когда&nbsp;Вы приобретаете помещение без перегородок, когда есть перегородки, но&nbsp;их&nbsp;планировка не&nbsp;соответствует требованиям комфортной жизни или, когда просто есть стремление сменить обстановку.
				p Учитывая все Ваши пожелания и&nbsp;возможности объекта, мы&nbsp;разработаем несколько вариантов планировочных решений. Подскажем варианты увеличения полезной площади, поможем рационально организовать все необходимые для комфортного проживания зоны, сориентируем Вас о&nbsp;возможности перепланировки с&nbsp;добавлением или перемещением перегородок, не&nbsp;нарушая действующих СНИПов.
				p Мы&nbsp;с&nbsp;особой тщательностью следим о&nbsp;всех изменениях в&nbsp;законодательстве, касающихся перепланировочных решений. Сотрудничаем с&nbsp;проверенными компаниями в&nbsp;области разработки проектной документации и&nbsp;согласовании перепланировок. Работая над планировочными решениями, мы&nbsp;всегда предлагаем только те&nbsp;варианты, которые возможно согласовать, а&nbsp;желающих смелых экспериментов в&nbsp;изменении конфигурации пространства предупреждаем о&nbsp;возможных проблемах в&nbsp;будущем.
				p Ниже представлены примеры вариантов планировочных решений квартир различной площади.

	// end s-collages

mixin s-collages-blueprints()
	// start s-collages
	+b.SECTION.s-collages.blueprints.section#s-collages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 РАБОЧИЕ ЧЕРТЕЖИ — ПОДРОБНАЯ ИНСТРУКЦИЯ ДЛЯ СТРОИТЕЛЕЙ
			.description
				p Основу дизайн-проекта составляет профессионально подготовленная рабочая документация&nbsp;&mdash; чертежи, спецификации и&nbsp;ведомости. Именно эти материалы являются основой точного воплощения красивой идеи в&nbsp;реальную жизнь. <br> Качественная проектная документация является четким и&nbsp;обязательным руководством к&nbsp;действию для строительной группы и&nbsp;избавляет Вас от&nbsp;различных неожиданностей и&nbsp;необходимости давать указания и&nbsp;отвечать на&nbsp;вопросы строителей, неизбежно возникающих в&nbsp;ходе производства работ.<br> Состав каждого рабочего проекта определяется индивидуально и&nbsp;зависит от&nbsp;сложности реализации объекта, а&nbsp;также от&nbsp;пожеланий заказчика. Однако можно выделить стандартный пакет чертежей, которые входят практически в&nbsp;любой дизайн-проект. Ниже представлен типовой комплект рабочей документации.
