mixin s-work()
	// start s-work
	+b.SECTION.s-work.section.text-white#s-work&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 КАК МЫ РАБОТАЕМ

				
			.row
				mixin item(i, t, p)
					+e.col.col-lg-3.col-sm-6
						+e.img-wrap
							img.res-i.lazy(src="#" data-src=`img/@2x/s-work-${i}.png`, alt="")
						+e.title= t
						p= p
					// /.col-lg-3.col-sm-6
				+item("1","Выезжаем на замеры","Наш специалист выезжает на замеры и совместно с вами заполняет подробную анкету")
				+item("2","Разрабатываем планировку","На основании замеров делаем 2 варианта перепланировки и расстановки мебели")
				+item("3","Подбираем материалы и мебель","Подбираем цветовое решение, отделочные материалы и мебель, под ваш бюджет")
				+item("4","Готовим документацию для строителей","Разрабатываем чертежи для строителей и шоплист материалов и мебели для вас")
	// end s-work